*{
    margin: 0;
    padding: 0;
}

.satu {
    height: 100vh;
    width: 100%;
    padding-top: 8em;
    background-image: url("img/sekolah.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.dua {
    height: 100vh;
    width: 100%;
    background-image: url("img/sekolah.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.tiga {
    height: 100vh;
    width: 100%;
    background-image: url("img/back-kota.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.empat {
    height: 100vh;
    width: 100%;
    background-image: url("img/rumah.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.title {
    height: 10em;
    background-color: cornsilk;
    opacity: 60%;
    box-shadow: teal 5px 5px;
}

.judul {
    text-align: center;
    padding-top: 1em;
    font-size: 40px;
    font-family: "Crimson text", serif;
    color: black;
    
}

.start {
    height: 20em;
    
}

.start a {
    text-decoration: none;
    color: #790c5a;
}

.button {
    margin: 4em 28em;
    background-color: #d6d2c4; 
    border: 1px transparent;
    border-radius: 6px;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Crimson Text", serif;
    box-shadow: teal 5px 5px;
}

.atas {
    height:36.7em;
}

.bawah {
    margin: 0;
}

#box {
    border: transparent;
    height: 6.5em;
    width: 70%;
    background-color: teal;
    opacity: 80%;
    color: white;
    font-family: "Crimson Text", serif;
    font-size: 30px;
    text-align: left;
    padding-left: 1em;
}

#box1 {
    border: transparent;
    height: 6.5em;
    width: 70%;
    background-color: teal;
    opacity: 80%;
    color: white;
    font-family: "Crimson Text", serif;
    font-size: 30px;
    text-align: left;
    padding-left: 1em;
}

#chara {
    width: 35%;
    padding-top: 14%;
    float: right;
}

#decision {
    float: right;
    margin-top: 30em;
    
}

#decision button {
    border: transparent;
    height: 2em;
    width: 10em;
    background-color: #fad5ad;
    color: teal;
    font-family: "Crimson Text", serif;
    font-size: 20px;
    text-align: center;
}

#decision1 {
    float: right;
    margin-top: 27em;
    
}

#decision1 button {
    border: transparent;
    height: 3em;
    width: 10em;
    background-color: coral;
    opacity: 80%;
    color: white;
    font-family: "Crimson Text", serif;
    font-size: 20px;
    text-align: center;
}